/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Ajouté pour s'assurer que la page occupe toute la hauteur */
html, body {
    height: 100%;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
	/* Ajouté pour faire du body un conteneur flexible */
	display: flex;
	flex-direction: column;
}

main {
	/* Ajouté pour s'assurer que main prend tout l'espace restant */
	flex: 1;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	align-items: center;
	padding-top: 20px;
}
section {
	margin: 50px 0;
}

.active-filter {
    color: white;
    background-color: #1D6154;
}

#editionmode {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 100%;
	background: black;
	color:white;
	margin: 0px;
}

#editionmode a {
	color: white;
	text-decoration: none;
}

.test {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	width: 100%;
	background: black;
	margin: 0px;
	color:white;
	font-size: 15px;
}

.test2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 30px;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

nav a {
	text-decoration: none;
	color: black;
}

li img {
	padding-bottom: 0px;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
	text-align: justify;
	line-height: 1.3;
}
#portfolio h2 {
	text-align: center;
}

.modif {
	display: flex;
	gap: 50px;
	align-items: center;
	justify-content: center;
	margin-bottom: 3em;
}

#modifier {
	display: flex;
	display: none;
}

#modifier a {
	text-decoration: none;
	color: black;
}

#category-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 60px;
	margin-top: 40px;
}

#category-menu button {
	border-radius: 30px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 20px;
	color: #1D6154;
	background-color: #FFFEF8;
	font-family: 'Syne';
	font-weight: 700;
	border-width: 1px;
	border-color: #1D6154;
}

#category-menu button:hover {
	color: white;
	background-color: #1D6154;
}

#category-menu button.active-filter {
    color: white;
    background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2 {
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer {
	background-color: white !important;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/* Page Login */

#Connexion {
	width: 100%;
	margin:auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-top: 100px;
}

#Connexion form {
	display: flex;
	flex-direction: column;
	text-align: left;
	align-items: center;
}

.titre-login {
	display: flex;
	align-items: center;
	justify-content: center;
}

#Connexion h2 {
	margin-bottom: 20px;
}

#Connexion input {
	height: 40px;
	width: 30%;
	font-size: 1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	text-align: center;
}
#Connexion label {
	margin: 2em 0 0 0;
	text-align: left;
	width: 30%;
}

#Connexion input[type="submit"] {
	margin-top: 50px;
	width: 17%;
	height: 35px;
}

/* Config Modal */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 30px;
	width: 25%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
	border-radius: 20px;
}

.close {
	position: absolute; 
    top: 10px; 
    right: 20px;
	color: black;
	font-size: 28px;
	font-weight: bold;
	margin-top: 10px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.close-form {
	position: absolute; 
    top: 10px; 
    left: 20px;
	color: black;
	font-size: 28px;
	font-weight: 800;
	margin-top: 10px;
	cursor: pointer;
}

.close-form i {
	color: black !important;
	font-size: 20px !important;
}

.modal-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	justify-content: center;
	gap: 10px;
	box-sizing: border-box;
	object-fit: cover;
	padding-bottom: 40px;
	margin-bottom: 30px;
	border-bottom: 2px solid lightgray;
}

.modal-gallery img {
	width: 100%;
	height: auto;
	object-fit: cover;
	max-height: 100px;
	margin-bottom: 5px;
}

.modal-gallery figcaption {
	display: none;
}

.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal-content h2 {
	color: black;
	font: inherit;
	font-weight: 500;
	font-size: 26px;
	margin-bottom: 40px;
	margin-top: 20px;
}

.modal-content button {
	border: none;
	background-color: #000000;
	color: white;
	padding: 5px 5px 5px 5px;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 300;
}

.work {
	position: relative;
}

.delete-btn {
	position: absolute;
	right: 3px;
	top: 3px;
	background: none;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 0.8em; 
	padding: 0;
}

.delete-btn:hover {
	color: darkred; 
	background-color: white;
}

.delete-btn i {
	pointer-events: none; /* Pour que l'icône ne capte pas les clics */
}

.modifBtn {
	background-color: #1D6154 !important;
	border-radius: 20px;
	padding: 10px 35px 10px 35px !important;
	margin-bottom: 10px;
}

#addProjectForm {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.addProjectForm-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 30px;
	border: 1px solid #888;
	width: 25%;
    position: relative; 
	border-radius: 20px;
}

.addProjectForm-content i {
	font-size: 70px;
	margin-bottom: 20px;
	color: rgb(160, 177, 190);
}

.addProjectForm-content button {
	border: none;
	border-radius: 30px;
	background-color: #1D6154;
	color: white;
	padding: 10px 30px 10px 30px;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 300;
	margin-top: 30px;
}

.addProjectForm-content h2 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.hidden-input {
    display: none;
}

.image-preview-container {
	max-width: 100%;
    height: auto;
	margin-top:-10px !important;
    text-align: center;
	box-sizing: border-box;
}

.image-preview-container img {
    max-width: 100px;
	max-height: 200px;
    height: auto;
    display: none; 
	box-sizing: border-box;
	object-fit: contain;
}

.back-ajout {
    position: relative;
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.custom-button {
    display: inline-block;
    padding: 20px;
    background-color: rgb(160, 177, 190);
    color: white;
    cursor: pointer;
    border-radius: 20px;
    text-align: center !important;
    margin-top: 20px;
    font-size: 16px;
    padding: 10px !important;
    color: rgb(54, 114, 153);
    margin-bottom: 10px;
	width: 30% !important;
}

.custom-button:hover {
    background-color: gray;
}

#preview {
    box-sizing: border-box;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

#addProjectForm input {
    height: 30px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    width: 100%;
}

#category {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    height: 30px;
    font-size: 1.2em;
    width: 100%;
}

#addProjectForm label {
    padding: 5px;
}

.addProjectForm-content label,
.addProjectForm-content input,
.addProjectForm-content select {
    text-align: left;
    width: 100%;
}

/* Bouton de soumission désactivé */
#addProjectForm button[type="submit"]:disabled {
    background-color: gray;
    cursor: not-allowed;
}

/* Bouton de soumission activé */
#addProjectForm button[type="submit"]:enabled {
    background-color: #1D6154;
    cursor: pointer;
}